*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(108, 108, 138);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}
h1{
    font-size: 2rem ;
}
.user_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start; 
}
.user_input_container{
    display: flex;
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 5px;
}
#search-btn{
    padding: 0.4rem;
    border-radius: 5px;
}
.stats-container{
    display: hidden;
}
.progress-item-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin: 10px;
    position: relative;
    background: #0e1872; /* fallback background */
    transition: background 1s ease;
}

.progress-item-circle span {
    position: relative;
    z-index: 2; /* text above gradient */
}


.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stats-card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}
.stats-card-item{
    background-color: rgb(216, 151, 11);
    width: 250px;
    max-width: 290px;
    padding: 20px;
    border-radius: 10px;

}